body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Layout for the profile-page */
#profile-page {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
}

/* Profile Image */
.profile-image {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* CV Sections */
.cv-section {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

h2 {
    font-size: 24px;
    color: #333;
    padding-left: 15px;
}

/* Unordered List - Skills */
ul li {
    color: green;
    margin-bottom: 10px;
}

/* Links */

.Links {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0073e6;
    
}

a:hover {
    color: #005bb5;
}

footer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}